* {
	padding: 0;
	margin: 0;
	font-family: "Nunito", sans-serif;
	color: white;
	background-color: #23518c;
	text-align: center;
}
h1 {
	margin: 30px;
	padding-top: 5%;
	font-size: 50px;
}
label {
	display: block;
	font-size: 30px;
	padding: 0px 40px 0px 10px;
	cursor: pointer;
}
#submit {
	margin: 20px;
	padding: 20px;
	font-size: 30px;
	border-radius: 5%;
}
img {
	height: 60px;
	width: auto;
	background-color: blanchedalmond;
	padding: 20px;
}
input[type="radio"] {
	transform: scale(2);
	margin-right: 10px;
	position:relative;
	bottom: 5px;
}
input[type=number] {
	font-size: 30px;
	width: 40px;
	margin-right: 10px;
 	-moz-appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  	-webkit-appearance: none;
  	margin: 0; 
}
/* #063b80, #1e5fb3, #23518c; need nice blues for this.*/